@{
    ViewBag.Title = "S'Abbinirica";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Via re Bratti 91<br />
        Lercara Friddi, PA - 90025<br />
        <abbr title="Phone">P:</abbr>
       091 345542
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</main>